
/* reset */

*{ margin: 0;
    padding: 0p;
border: 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 


/*  HEADER */
header {
    background-color: #1d0f6e;
    color: white;
     display: flex;
     justify-content: space-between;
     font-size: 20px;
     padding: 10px 70px;
}

/* MAIN */
.aviao{
background-image: url(imagens/aviao.png);
height: 750px;

background-repeat: no-repeat;

}











/* footer*/