.botao1{
    background-color: red;
    color: white;
    transition: 3s ease-in-out;
}
.botao1:hover
{
background-color: blue;
color: black;
}
.input:focus{
    border: 2px solid blue;
    outline: none;
}
.botao2{
    background-color: blue;
}
.botao2:active{
    background-color: darkblue;
    transform: scale(0.90);
}