img{
    width: 500px;
    height: 300px;
}
h3{
    max-width: 500px;
    padding-left: 700px;
       font-size: 20px;
       
}
p{
        max-width: 500px;
    padding-left: 700px;
    font-size: 20px;
}