/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* HEADER */
header {
    background-color: #1d0f6e;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px 70px;
}
/* MAIN */
.aviao { /*Section */
    background-image: url(imagens/aviao.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 750px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.aviao h2 {
    color: white;
    font-size: 90px;
    width: 950px;
    text-align: center;
    font-weight: 500;
}
.pacote img {
    width: 400px;
    height: 600px;
        border-radius: 20px;

}
.pacote {
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    /* Expessura, tipo e cor da borda*/
}
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pacote p{
    font-size: 32px;
}
.pacote span{
    font-size: 20px;
}
.titulo {
    font-size: 90px;
    color: #1d0f6e;
    text-align: center;
    margin: 60px 0;
}
/* FOOTER */
footer{
     display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d0f6e;
    color: white;
    height: 300px;
    font: 40px;
}