div{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    margin: 20px;
} 
body{
display: flex;
flex-wrap: wrap;
}
.caixa1{
     
    background: linear-gradient(to bottom,red,blue);
}
.caixa2{
        background: linear-gradient(to left, green,yellow,orange);

}
.caixa3{
       background: linear-gradient(133deg,purple,pink,white );
}
.caixa4{
      background: radial-gradient(blue,rgb(0, 0, 100));
}
.caixa5{
      background: radial-gradient(ellipse at top left,pink,white);
}
.caixa6{
        background: conic-gradient(from 90deg,red,yellow,green,blue);

}