body{
    background-image: url(img/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 750px;
    background-position: center;
    background-attachment: fixed;
    background-color: aqua;
}
body ::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: lightgray;
}
p{
    font-size: 20px;
  
}